.body{
    background: rgb(0, 119, 255);
    background-size:cover;
    margin: 0;
    padding: 0;
  }
  .login{
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.256);
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .imgg{
    width: 50%;
    height: 50%;
  }
  h1 , .not{
    color: white;
  }
  
  .textbox{
    margin: 30px;
    
  }