.body{
  background: url(../../photos/sup.jpg) no-repeat;
  background-size:cover;
  margin: 0;
  padding: 0;
}
.login{
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  width: 250px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.256);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1, .p{
  color: white;
}

.textbox{
  margin: 30px;
  
}